.custom-file-input {
  position: relative;
  z-index: 2;
  width: 100%;
  height: calc(2.25rem + 2px);
  margin: 0;
  overflow: hidden;
  opacity: 1;
}
.single-line {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre;
}